/* src/styles/variables.css */
:root {
  --primary-bg-color: #ffffff;     /* Dark background color */
  --card-bg-color: #ffffff;        /* White background color for cards */
  --button-bg-color: #333333;      /* Dark button background */
  --button-hover-bg-color: #444444;/* Hover background for buttons */
  --text-color: #333333;           /* General text color */
  --link-color: #666666;           /* Link color */
  --error-color: #ff4d4d;          /* Error message color */
}

body {
  padding-top: 56px; /* Adjust the value based on your navbar's height */
}

.card {
  height: 100%; /* Ensure all cards are equal height */
  display: flex;
  flex-direction: column; /* Align content in a column */
}

.card-img-top {
  height: 200px; /* Set a fixed height for the image */
  object-fit: cover; /* Ensures the image covers the entire area while maintaining aspect ratio */
  width: 100%; /* Ensures the image takes full width */
}

.card-body {
  flex-grow: 1; /* Pushes the card body content to fill remaining space */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Spreads the content evenly */
}

/* buttons */

.category-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-buttons button {
  margin: 5px;  /* Adjust this value as needed */
}


/* recipes */

.recipe-details {
  font-family: Arial, sans-serif;
  padding: 2rem;
}

.recipe-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: underline;
}

.subtitle {
  font-weight: bold;
  text-decoration: underline;
}

/* Image styling for responsiveness */
.recipe-image-container {
  text-align: center;
}

.recipe-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  max-height: 400px; /* Set the max height for the image */
}

.recipe-meta {
  background-color: #f8f8f8;
  padding: 1rem;
  border-radius: 8px;
  font-size: 1rem;
  color: #555;
}

.ingredients-list,
.instructions-list {
  padding-left: 1rem;
  font-size: 1rem;
}

.ingredients-list li,
.instructions-list li {
  margin-bottom: 0.5rem;
}
